//------ Greens -----------//
$color-green-main: #2D5028;
$color-green-light: #7BB374;
$color-green-button: #496B45;
$color-green-tint: rgba(45,80,40,.5);


//------Main Black-------//
$color-black: #000000;

//------Body Colour-------//
$color-body: #FCFCFC;

//------White for boxes-------//
$color-white: #FFFFFF;

//------Greys----------//
$color-grey-body-text: #5D5D5D;
$color-grey-light: #F2F2F2;
$color-grey-dark: #878787;
$color-grey-tint: #d9d9d9;

//------Blue---------//
$color-blue: #313660;

//------Brown-------//
$color-brown: #8F4426;
$color-brown-dark: #67311b;

//------Silver------//
$color-silver: #56626B;
$color-silver-button: #f0efee;

//------Gold-------//
$color-gold: #655500;