/*------------------------------
    Accessibibility
------------------------------*/
.skip-link {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 1px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: background-color 200ms ease;

    &:focus {
        display: block;
        font-size: 1.5rem;
        height: auto;
        width: auto;
        padding: 1.4rem 2rem;
        background-color: $color-green-main;
        color: $color-grey-light;
        clip: auto;
        border-radius: 10px;
        text-decoration: none;
        text-transform: uppercase;
        animation: skipLink 400ms ease-in;
        z-index: 1000;
    }
}

@keyframes skipLink {
    0% {
        opacity: 0;
        transform: translateX(-2rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/*------------------------------
    Navigation
------------------------------*/
.master__header {
    background-color: $color-black;
    min-height: 12vh;
    padding: 2rem;
    // To be changed with gsap, fixes rendering issue before animation
    visibility: hidden;

    &--container {
        
        @include flexBetween;

        @media screen and (min-width: 52.43em) {
            @include maxWidth;
        }
    }

    &--nav {
        background-color: $color-black;
        position: fixed;
        top: 12vh;
        right: 0;
        width: 100%;
        transition: all 0.2s ease-in;
        transform: translateX(100%);
        z-index: 10;

        @media screen and (min-width: 52.43em) {
            position: unset;
            transition: unset;
            transform: translateX(0);
            width: 70%;
        }

        @media screen and (min-width: 70em) {
            width: 60%;
        }
    }

    &--links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        height: 88vh;
        list-style: none;
        padding: 2rem 0;
        visibility: hidden;

        li {
            padding: 3rem 0;
            position: relative;

            @media screen and (min-width: 52.43em) {
                padding: 0;
            }
        }

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: $color-grey-light;
            font-size: 1.8rem;
            transition: all 200ms ease-in;

            &:hover, &:focus {
                color: $color-green-light;
            }

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                transform-origin: bottom right;
                height: .2rem;
                border-radius: .2rem;
                width: 100%;
                background-color: $color-green-light;
                transform: scale(0);
                transition: transform 300ms ease-in-out;
            }

            &:hover::after, &:focus::after {
                transform-origin: bottom left;
                transform: scale(1);
            }

            @media screen and (min-width: 56.87em) {
                font-size: 2rem;
            }
        }

        @media screen and (min-width: 52.43em) {
            flex-direction: row;
            justify-content: space-between;
            height: unset;
        }

        .active::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: .2rem;
            border-radius: .2rem;
            width: 100%;
            background-color: $color-green-light;
            transform: unset;
        }

    }

    // Target with javascript
    .nav-toggle {
        transform: translateX(0);
    }

    .body-toggle {
        overflow: hidden;
    }

    &--burger {
        display: block;
        cursor: pointer;
        div {
            width: 3rem;
            height: .4rem;
            margin: .5rem;
            border-radius: .5rem;
            background-color: $color-grey-light;
        }

        @media screen and (min-width: 52.43em) {
            display: none;
        }
    }
}