.main__titles {
    font-size: 3rem;
    text-align: center;
    line-height: 1.2;
    color: $color-green-main;
    font-weight: 700;
    margin: 2rem 0;

    @media screen and (min-width: 56.93em) {
        font-size: 4rem;
    }
}

.main__titles.title__light {
    color: $color-green-light;
}

.global-titles {
    font-size: 6rem;
}

.global-intro-titles {
    font-size: 2rem;
}