//-----For all main headers except the home page----//
.page__img {
    margin-top: 3rem;
    clip-path: polygon(50% 0%, 100% 24%, 100% 100%, 0 100%, 0 24%);

    @media screen and (min-width: 40.75em) {
        clip-path: polygon(24% 0, 100% 0, 100% 100%, 23% 100%, 0 48%);
        margin-top: 0;
    }
}