*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%; }

img {
  max-width: 100%; }

video {
  width: 100%;
  height: auto; }

a {
  cursor: pointer; }

body {
  background-color: #fcfcfc;
  overflow-x: hidden; }

h1, h2, h3, h4, h5 {
  font-family: 'Rubik', sans-serif; }

p, a, ul, span, figcaption {
  font-family: 'Poppins', sans-serif; }

.text-grey-body {
  color: #5D5D5D; }

.text-grey-dark {
  color: #878787; }

.text-grey-light {
  color: #F2F2F2; }

/*------------------------------
    Accessibibility
------------------------------*/
.skip-link {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: background-color 200ms ease;
  -o-transition: background-color 200ms ease;
  transition: background-color 200ms ease; }
  .skip-link:focus {
    display: block;
    font-size: 1.5rem;
    height: auto;
    width: auto;
    padding: 1.4rem 2rem;
    background-color: #2D5028;
    color: #F2F2F2;
    clip: auto;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-animation: skipLink 400ms ease-in;
    animation: skipLink 400ms ease-in;
    z-index: 1000; }

@-webkit-keyframes skipLink {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2rem);
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes skipLink {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2rem);
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

/*------------------------------
    Navigation
------------------------------*/
.master__header {
  background-color: #000000;
  min-height: 12vh;
  padding: 2rem; }
  .master__header--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media screen and (min-width: 52.43em) {
      .master__header--container {
        max-width: 1200px;
        margin: 0 auto; } }
  .master__header--nav {
    background-color: #000000;
    position: fixed;
    top: 12vh;
    right: 0;
    width: 100%;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    z-index: 10; }
    @media screen and (min-width: 52.43em) {
      .master__header--nav {
        position: unset;
        -webkit-transition: unset;
        -o-transition: unset;
        transition: unset;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        width: 70%; } }
    @media screen and (min-width: 56.87em) {
      .master__header--nav {
        width: 60%; } }
  .master__header--links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 88vh;
    list-style: none; }
    .master__header--links a {
      text-decoration: none;
      color: #F2F2F2;
      font-size: 2rem; }
      @media screen and (min-width: 52.43em) {
        .master__header--links a {
          padding: 0 1rem; } }
    @media screen and (min-width: 52.43em) {
      .master__header--links {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        height: unset; } }
  .master__header .nav-toggle {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0); }
  .master__header .body-toggle {
    overflow: hidden; }
  .master__header--burger {
    display: block;
    cursor: pointer; }
    .master__header--burger div {
      width: 3rem;
      height: .4rem;
      margin: .5rem;
      border-radius: .5rem;
      background-color: #F2F2F2; }
    @media screen and (min-width: 52.43em) {
      .master__header--burger {
        display: none; } }

.master__footer {
  background-color: #000000;
  padding: 2rem; }
  .master__footer--container {
    max-width: 1200px;
    margin: 0 auto; }
  .master__footer a {
    text-decoration: none; }
  .master__footer--information {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative; }
    .master__footer--information::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: .1rem;
      background-color: #878787; }
    @media screen and (min-width: 50em) {
      .master__footer--information {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
  .master__footer--social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (min-width: 50em) {
      .master__footer--social {
        -ms-flex-item-align: start;
        align-self: flex-start; } }
  .master__footer--instagram {
    fill: #FFFFFF;
    background-color: #2D5028;
    height: 5rem;
    width: 5rem;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in; }
    .master__footer--instagram:hover, .master__footer--instagram:focus {
      background-color: #7BB374;
      -webkit-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
      transform: translateY(-0.3rem); }
  .master__footer--info {
    margin: 4rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    @media screen and (min-width: 50em) {
      .master__footer--info {
        width: 70%;
        margin: 2rem 0; } }
  .master__footer--useful {
    margin: 0 2rem; }
  .master__footer--titles {
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .master__footer--list {
    list-style: none; }
    .master__footer--list li {
      margin: 1.2rem 0;
      font-size: 1.4rem;
      line-height: 1.15; }
  .master__footer .links:hover, .master__footer .links:focus {
    -webkit-transition: color 200ms ease-in;
    -o-transition: color 200ms ease-in;
    transition: color 200ms ease-in;
    color: #F2F2F2; }
  .master__footer--copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .master__footer--copyright p {
      font-size: 1.5rem;
      margin: 1rem 0; }
  .master__footer--credit {
    text-decoration: none;
    color: #878787;
    -webkit-transition: color 200ms ease-in;
    -o-transition: color 200ms ease-in;
    transition: color 200ms ease-in; }
    .master__footer--credit:hover, .master__footer--credit:focus {
      color: #F2F2F2; }

.btn {
  border: none;
  display: inline-block;
  text-decoration: none;
  color: #F2F2F2;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  font-weight: 900;
  border-radius: 10rem;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }
  .btn:hover, .btn:focus {
    -webkit-transform: translateY(-0.3rem);
    -ms-transform: translateY(-0.3rem);
    transform: translateY(-0.3rem); }
  .btn:active {
    -webkit-transform: translateY(-0.1rem);
    -ms-transform: translateY(-0.1rem);
    transform: translateY(-0.1rem); }

.btn.btn-light {
  background-color: #7BB374; }
  .btn.btn-light:hover, .btn.btn-light:focus {
    background-color: #2D5028; }

.btn.btn-dark {
  background-color: #2D5028; }
  .btn.btn-dark:hover, .btn.btn-dark:focus {
    background-color: #7BB374; }

.main__titles {
  font-size: 3rem;
  text-align: center;
  line-height: 1.2;
  color: #2D5028;
  font-weight: 700;
  margin: 2rem 0; }
  @media screen and (min-width: 56.93em) {
    .main__titles {
      font-size: 4rem; } }

.main__titles.title__light {
  color: #7BB374; }

.global-titles {
  font-size: 6rem; }

.global-intro-titles {
  font-size: 2rem; }

.page__img {
  margin-top: 2rem;
  -webkit-clip-path: polygon(49% 0, 100% 10%, 100% 100%, 0 100%, 0 11%);
  clip-path: polygon(49% 0, 100% 10%, 100% 100%, 0 100%, 0 11%); }
  @media screen and (min-width: 48.75em) {
    .page__img {
      -webkit-clip-path: polygon(24% 0, 100% 0, 100% 100%, 23% 100%, 0 48%);
      clip-path: polygon(24% 0, 100% 0, 100% 100%, 23% 100%, 0 48%);
      margin-top: 0; } }

/*-----------------------------
    Intro banner section
-----------------------------*/
.page__header {
  background-color: #000000;
  padding: 3rem 2rem 0 2rem; }
  @media screen and (min-width: 48.75em) {
    .page__header--container {
      max-width: 1200px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }
  .page__header--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 2rem 0; }
    @media screen and (min-width: 48.75em) {
      .page__header--wrapper {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50vw;
        flex: 0 0 50vw; } }
    .page__header--wrapper .btn {
      margin-top: 1.5rem;
      font-size: 2.5rem; }
      @media screen and (min-width: 48.75em) {
        .page__header--wrapper .btn {
          font-size: 2.8rem; } }
  .page__header--titles {
    color: #F2F2F2;
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 900;
    line-height: 1.2;
    margin: .5rem 0; }
    @media screen and (min-width: 48.75em) {
      .page__header--titles {
        font-size: 3.6rem; } }
    @media screen and (min-width: 50em) {
      .page__header--titles {
        font-size: 4.2rem; } }
    @media screen and (min-width: 61em) {
      .page__header--titles {
        font-size: 5rem; } }
  .page__header--intro {
    font-size: 2rem;
    margin: 0 0 1.2rem 0;
    color: #7BB374; }
    @media screen and (min-width: 40em) {
      .page__header--intro {
        font-size: 2rem; } }
    @media screen and (min-width: 61em) {
      .page__header--intro {
        font-size: 2.5rem; } }
  .page__header--image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2rem; }

/*-----------------------------
    Services section
-----------------------------*/
.help {
  padding: 2rem; }
  .help__services {
    list-style: none; }
    .help__services a {
      text-decoration: none; }
    @media screen and (min-width: 44.9em) {
      .help__services {
        max-width: 1200px;
        margin: 0 auto;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem; } }
  .help__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 2rem 3rem;
    margin: 4rem 0;
    background-color: #FFFFFF;
    -webkit-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out; }
    .help__box p {
      font-size: 1.5rem;
      margin-bottom: 2rem;
      padding: 0 2rem; }
      @media screen and (min-width: 44.9em) {
        .help__box p {
          font-size: 1.8rem; } }
    .help__box:hover, .help__box:focus {
      -webkit-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
      transform: translateY(-0.3rem); }
    .help__box:active {
      -webkit-transform: translateY(-0.1rem);
      -ms-transform: translateY(-0.1rem);
      transform: translateY(-0.1rem); }
  .help__title {
    color: #2D5028;
    font-size: 2.2rem;
    margin-bottom: 1.5rem; }
    @media screen and (min-width: 56.93em) {
      .help__title {
        font-size: 3rem; } }
  .help__icons {
    height: 20rem;
    width: 20rem;
    fill: #2D5028;
    margin: 1.4rem 0; }

/*-----------------------------
    Testimionial section
-----------------------------*/
.survey {
  background-color: #000000;
  padding: 2rem 2rem 5rem 2rem; }
  .survey__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (min-width: 38.68em) {
      .survey__container {
        max-width: 1200px;
        margin: 0 auto; } }
    .survey__container .btn {
      font-size: 2rem; }
      @media screen and (min-width: 38.68em) {
        .survey__container .btn {
          font-size: 2.7rem; } }
  .survey__image {
    position: relative;
    padding: 2rem;
    margin-top: 2rem; }
    @media screen and (min-width: 38.68em) {
      .survey__image {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
        justify-items: center; } }
  .survey__img {
    padding: 2rem 0; }
    @media screen and (min-width: 38.68em) {
      .survey__img {
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        grid-column: 2/4; } }
  .survey__before {
    position: absolute;
    top: 0;
    left: 20%;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .2rem; }
    @media screen and (min-width: 38.68em) {
      .survey__before {
        position: unset;
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-row-align: center;
        align-self: center;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 3rem; } }
    @media screen and (min-width: 62.5em) {
      .survey__before {
        font-size: 4rem; } }
  .survey__after {
    position: absolute;
    top: 0;
    right: 20%;
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: .2rem; }
    @media screen and (min-width: 38.68em) {
      .survey__after {
        position: unset;
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
        grid-column: 4 / 5;
        -ms-grid-row: 1;
        grid-row: 1;
        -ms-grid-row-align: center;
        align-self: center;
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-orientation: upright;
        font-size: 3rem; } }
    @media screen and (min-width: 62.5em) {
      .survey__after {
        font-size: 4rem; } }
  .survey__question {
    font-size: 2rem;
    padding: 1rem 0;
    color: #7BB374; }
    @media screen and (min-width: 54.4em) {
      .survey__question {
        font-size: 2.5rem; } }
  .survey__responses {
    position: relative; }
    .survey__responses p {
      margin-bottom: 2rem;
      font-size: 1.5rem;
      position: relative; }
      @media screen and (min-width: 54.4em) {
        .survey__responses p {
          font-size: 1.7rem; } }
    .survey__responses p:last-of-type {
      margin-bottom: 4rem; }
    @media screen and (min-width: 51.25em) {
      .survey__responses {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem; } }

/*-----------------------------
    Choose Kai section
-----------------------------*/
.choose {
  padding: 5rem 0;
  position: relative; }
  .choose .main__titles {
    margin-bottom: 3rem; }
  .choose::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: .1rem;
    width: 50%;
    background-color: #7BB374;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%); }
  .choose__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (min-width: 44.5em) {
      .choose__container {
        margin-top: 5rem;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr); } }
  .choose__img--item {
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 73%, 50% 100%, 0 77%);
    clip-path: polygon(0% 0%, 100% 0, 100% 73%, 50% 100%, 0 77%); }
    @media screen and (min-width: 44.5em) {
      .choose__img--item {
        -webkit-clip-path: polygon(0% 0%, 76% 0, 100% 50%, 81% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 76% 0, 100% 50%, 81% 100%, 0% 100%); } }
  .choose__list--section {
    padding: 0 4rem;
    margin: 2rem 0; }
    @media screen and (min-width: 57em) {
      .choose__list--section a {
        font-size: 2rem; } }
  .choose__list {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    @media screen and (min-width: 57em) {
      .choose__list {
        font-size: 2rem; } }
    .choose__list li {
      margin-bottom: .5rem; }
      @media screen and (min-width: 57em) {
        .choose__list li {
          margin-bottom: 1rem; } }

/*-----------------------------
    Kai location section
-----------------------------*/
.location {
  margin: 2.5rem 0;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media screen and (min-width: 44.5em) {
    .location {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .location p {
    font-size: 1.5rem; }
    @media screen and (min-width: 43.75em) {
      .location p {
        font-size: 1.8rem; } }
  .location a {
    margin: 1.5rem 0; }
    @media screen and (min-width: 43.75em) {
      .location a {
        font-size: 2rem;
        margin: 2rem 0; } }

.about {
  margin-top: 10rem;
  position: relative; }
  @media screen and (min-width: 43em) {
    .about {
      max-width: 1400px;
      margin: 0 auto;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
      -ms-grid-rows: auto -webkit-min-content -webkit-min-content;
      -ms-grid-rows: auto min-content min-content;
      grid-template-rows: auto -webkit-min-content -webkit-min-content;
      grid-template-rows: auto min-content min-content;
      grid-gap: 2rem; } }
  .about .main__titles {
    margin-bottom: 4rem; }
    @media screen and (min-width: 43em) {
      .about .main__titles {
        -ms-grid-column: 3;
        -ms-grid-column-span: 4;
        grid-column: 3 / 7;
        -ms-grid-row: 1;
        grid-row: 1;
        margin: 3rem 0; } }
    @media screen and (min-width: 75em) {
      .about .main__titles {
        margin: 5rem 0; } }
  .about__interesting {
    background-color: #2D5028;
    color: #F2F2F2;
    font-size: 1.6rem;
    padding: 1.5rem 2.5rem;
    margin: 2rem 0;
    border-radius: 1rem;
    position: absolute;
    top: -12%;
    left: 0; }
    .about__interesting::before {
      content: '';
      position: absolute;
      left: 1%;
      top: 50%;
      width: 1.2rem;
      height: .2rem;
      background-color: #F2F2F2; }
    .about__interesting::after {
      content: '';
      position: absolute;
      right: 1%;
      top: 50%;
      width: 1.2rem;
      height: .2rem;
      background-color: #F2F2F2; }
    @media screen and (min-width: 43em) {
      .about__interesting {
        -ms-grid-column: 1;
        -ms-grid-column-span: 1;
        grid-column: 1 / 2; } }
    @media screen and (min-width: 75em) {
      .about__interesting {
        font-size: 1.8rem; } }
  @media screen and (min-width: 43em) {
    .about picture {
      -ms-grid-column: 2;
      -ms-grid-column-span: 4;
      grid-column: 2 / 6;
      -ms-grid-row: 2;
      grid-row: 2; } }
  .about__introduction {
    position: relative;
    margin: -3rem 2rem 7rem 2rem;
    padding: 2rem;
    background-color: #FFFFFF;
    -webkit-box-shadow: 3px 4px 18px -4px rgba(0, 0, 0, 0.55);
    box-shadow: 3px 4px 18px -4px rgba(0, 0, 0, 0.55);
    z-index: 2; }
    @media screen and (min-width: 43em) {
      .about__introduction {
        -ms-grid-column: 2;
        -ms-grid-column-span: 6;
        grid-column: 2 / 8;
        margin-top: -5rem; } }
    @media screen and (min-width: 55em) {
      .about__introduction {
        -ms-grid-column: 2;
        -ms-grid-column-span: 6;
        grid-column: 2 / 8;
        margin-top: -7rem; } }
    @media screen and (min-width: 75em) {
      .about__introduction {
        grid-column: 5 / -1;
        margin-left: -2rem;
        font-size: 1.5rem;
        -ms-grid-row: 2;
        grid-row: 2;
        margin-top: 0;
        -ms-grid-row-align: center;
        align-self: center; } }
    .about__introduction p {
      font-size: 1.5rem;
      margin-bottom: 2rem; }
      @media screen and (min-width: 55em) {
        .about__introduction p {
          font-size: 1.8rem; } }

.career {
  margin: 4rem 0;
  padding: 2.5rem;
  background-color: #000000;
  line-height: 1.2; }
  @media screen and (min-width: 42.56em) {
    .career .career__wrapper {
      max-width: 1200px;
      margin: 0 auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }
  .career .love {
    margin-bottom: 5rem; }
  .career__lists {
    margin: 1rem 3rem;
    font-size: 1.5rem;
    position: relative; }
    @media screen and (min-width: 42.56em) {
      .career__lists {
        font-size: 1.8rem;
        padding: 2rem 0; } }
    .career__lists::after {
      content: '';
      position: absolute;
      bottom: -10%;
      left: 0;
      height: .1rem;
      width: 100%;
      background-color: #7BB374; }
    .career__lists li {
      padding: 1.5rem 0; }

.qualifications {
  position: relative;
  margin: 3rem 0; }
  .qualifications .main__titles {
    margin: 4rem 0; }
  @media screen and (min-width: 45em) {
    .qualifications__container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      padding-right: 1rem; } }
  @media screen and (min-width: 68em) {
    .qualifications__container {
      -ms-grid-columns: (1fr)[2] 3rem;
      grid-template-columns: repeat(2, 1fr) 3rem; } }
  .qualifications__event {
    position: relative;
    display: inline-block;
    margin-top: 2rem;
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 73%, 50% 100%, 0 77%);
    clip-path: polygon(0% 0%, 100% 0, 100% 73%, 50% 100%, 0 77%); }
    @media screen and (min-width: 45em) {
      .qualifications__event {
        -webkit-clip-path: polygon(0% 0%, 76% 0, 100% 50%, 81% 100%, 0% 100%);
        clip-path: polygon(0% 0%, 76% 0, 100% 50%, 81% 100%, 0% 100%);
        margin-right: 1.3rem; } }
    .qualifications__event--img {
      display: block; }
    .qualifications__event p {
      position: absolute;
      top: 30%;
      left: 50;
      z-index: 10;
      font-size: 2rem;
      padding: 0 4rem; }
      @media screen and (min-width: 60em) {
        .qualifications__event p {
          font-size: 3rem; } }
    .qualifications__event::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(45, 80, 40, 0.5); }
  .qualifications__certificate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 2rem; }
    .qualifications__certificate .certificate__large {
      height: 12rem;
      width: 12rem;
      margin-bottom: 4rem; }
    @media screen and (min-width: 45em) {
      .qualifications__certificate {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; } }
  .qualifications__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .qualifications__list ul {
      list-style: none;
      font-size: 2rem; }
      @media screen and (min-width: 68em) {
        .qualifications__list ul {
          font-size: 2.5rem; } }
    .qualifications__list .list-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .qualifications__list li {
      padding: 1.5rem; }
    .qualifications__list--item {
      fill: #000000;
      height: 3.5rem;
      width: 3.5rem;
      margin-right: 3rem; }
      @media screen and (min-width: 45em) {
        .qualifications__list--item {
          height: 4.5rem;
          width: 4.5rem; } }
    .qualifications__list .btn {
      margin: 2rem 0; }
      @media screen and (min-width: 45em) {
        .qualifications__list .btn {
          -ms-flex-item-align: start;
          align-self: flex-start;
          justify-self: flex-start; } }
      @media screen and (min-width: 53em) {
        .qualifications__list .btn {
          font-size: 2rem; } }

.training {
  margin-bottom: 5rem; }
  .training__container {
    margin-top: 2rem;
    position: relative; }
    @media screen and (min-width: 37.5em) {
      .training__container {
        margin: 4rem auto;
        max-width: 1200px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
        .training__container .main__titles {
          margin: 0 0 2rem 0;
          text-align: left; } }
  .training__intro {
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .training__intro p {
      font-size: 1.5rem;
      margin-bottom: 1.5rem; }
    .training__intro .btn {
      margin-bottom: 2rem; }
    @media screen and (min-width: 37.5em) {
      .training__intro {
        padding: 0 2rem; }
        .training__intro p {
          font-size: 2rem;
          max-width: 50ch;
          -ms-flex-item-align: start;
          align-self: flex-start; }
        .training__intro .btn {
          -ms-flex-item-align: start;
          align-self: flex-start;
          margin: 1rem 0;
          font-size: 2rem; } }
  .training__img {
    position: relative; }
    @media screen and (min-width: 26.68em) {
      .training__img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .training__img--figure {
      display: inline-block;
      -webkit-clip-path: polygon(49% 0, 100% 10%, 100% 100%, 0 100%, 0 11%);
      clip-path: polygon(49% 0, 100% 10%, 100% 100%, 0 100%, 0 11%); }
      .training__img--figure img {
        display: block; }
      .training__img--figure::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(45, 80, 40, 0.5); }
      @media screen and (min-width: 37.5em) {
        .training__img--figure {
          -webkit-clip-path: polygon(24% 0, 100% 0, 100% 100%, 23% 100%, 0 48%);
          clip-path: polygon(24% 0, 100% 0, 100% 100%, 23% 100%, 0 48%); } }

.workshops {
  margin: 2rem 0;
  padding: 2rem 0;
  background-color: #000000;
  position: relative; }
  .workshops__intro {
    padding: 0 2rem;
    font-size: 1.5rem; }
  .workshops__learn {
    padding: 2rem;
    margin-top: 1.5rem; }
  .workshops__titles {
    color: #7BB374;
    font-size: 2rem; }
  .workshops__list {
    padding: 1.7rem 2rem;
    font-size: 1.5rem; }
    .workshops__list li {
      padding: .8rem 0; }
  .workshops__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 4rem;
    position: relative; }
    .workshops__price--amount {
      color: #7BB374;
      font-size: 2.2rem;
      font-weight: 900;
      text-align: center;
      line-height: 1.2;
      margin-bottom: 1.2rem; }
      @media screen and (min-width: 25em) {
        .workshops__price--amount {
          font-size: 2.5rem; } }
      @media screen and (min-width: 25em) {
        .workshops__price--amount {
          font-size: 3rem; } }
      .workshops__price--amount::before {
        content: '';
        position: absolute;
        top: 10%;
        left: 3%;
        height: .2rem;
        width: 1.5rem;
        background-color: #7BB374; }
        @media screen and (min-width: 25em) {
          .workshops__price--amount::before {
            top: 13%;
            left: 4%;
            height: .3rem;
            width: 2rem; } }
      .workshops__price--amount::after {
        content: '';
        position: absolute;
        top: 10%;
        right: 3%;
        height: .2rem;
        width: 1.5rem;
        background-color: #7BB374; }
        @media screen and (min-width: 25em) {
          .workshops__price--amount::after {
            top: 13%;
            right: 4%;
            height: .3rem;
            width: 2rem; } }
    .workshops__price p {
      font-size: 1.5rem;
      margin-bottom: 2rem; }
  .workshops__examples {
    position: relative; }
    .workshops__examples::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      height: .1rem;
      width: 80%;
      background-color: #7BB374; }
    .workshops__examples figure {
      margin-bottom: 3rem; }
    @media screen and (min-width: 28.25em) {
      .workshops__examples {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
    @media screen and (min-width: 28.25em) {
      .workshops__examples--one {
        margin-right: 1.5rem; } }
  .workshops__groups {
    margin-top: 2rem;
    padding: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .workshops__classes p {
    margin: 1rem 0 2rem 0;
    font-size: 1.5rem; }
  .workshops__videos {
    margin: 3rem 0; }
    .workshops__videos--caption {
      color: #878787;
      font-size: 1.3rem;
      font-style: italic; }

.specialties {
  margin-top: 4rem; }
  .specialties__img--caption {
    color: #2D5028;
    padding: .5rem 2rem 2rem 2rem;
    font-size: 1.3rem;
    font-style: italic; }
  .specialties__description {
    padding: 1rem 2rem; }
    .specialties__description ul {
      list-style: none; }
  .specialties__titles {
    color: #2D5028;
    font-size: 1.9rem;
    margin: .5rem 0; }
  .specialties p {
    font-size: 1.5rem;
    margin-bottom: 2rem; }

.personal__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 4rem; }
  .personal__social .svg-content {
    background-color: #2D5028;
    fill: #F2F2F2;
    height: 8rem;
    width: 8rem;
    padding: 1.5rem;
    border-radius: 1rem;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in; }
    .personal__social .svg-content:hover, .personal__social .svg-content:focus {
      background-color: #000000;
      -webkit-transform: translateY(-0.3rem);
      -ms-transform: translateY(-0.3rem);
      transform: translateY(-0.3rem); }
