.contact {

    @media screen and (min-width: 45.62em) {
        @include maxWidth;
    }

    &__intro {
        margin-top: 4rem;
        @include flexColumnCenter;

        p {
            font-size: 1.5rem;
            margin-bottom: 4rem;
            padding: 0 2rem;
            max-width: 70ch;

            @media screen and (min-width: 45.62em) {
                font-size: 1.8rem;
            }
        }
    }

    &__container {
        @media screen and (min-width: 45.62em) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }
    }

    &__form--container {
        padding: 0 2rem;

        @media screen and (min-width: 75em) {
            padding: 0;
        }
    }

    &__form {
        @include flexColumnStart;

        .btn {
            margin-top: 1rem;
            padding: 1rem 6rem;
        }
    }

    &__label--container {
        @include flexColumnStart;
        margin: 2rem 0;
    }

    &__label {
        color: $color-green-main;
        font-weight: 900;
        font-size: 1.8rem;
        padding-bottom: 1rem;
    }

    &__input {
        background-color: transparent;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: .1rem solid $color-green-light;
        width: 80vw;
        color: $color-grey-body-text;
        font-size: 1.5rem;

        &::placeholder {
            font-size: 1.3rem;
        }

        @media screen and (min-width: 45.62em) {
            width: 40vw;
        }
    }

    &__textarea {
        background-color: transparent;
        border: .1rem solid $color-green-main;
        width: 80vw;
        padding: .5rem;

        &::placeholder {
            font-size: 1.3rem;
        }

        @media screen and (min-width: 45.62em) {
            width: 40vw;
        }
    }

    &__img {
        position: relative;

        figure {
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: .2rem;
                background-color: $color-green-main;
            }
        }

        img {
            display: block;
        }

        @media screen and (min-width: 45.62em) {
            align-self: flex-end;
            max-width: 1000px;
            margin: 0 auto;
        }
    }
}

.details {
    margin: 3rem 0;
    @include flexColumnCenter;
    position: relative;

    &__list {
        list-style: none;
        @include flexColumnCenter;
        margin-bottom: 2rem;

        li {
            font-size: 1.5rem;
            margin: 1rem 0;
            text-align: center;

            @media screen and (min-width: 45.62em) {
                font-size: 1.8rem;
            }
        }

        a {
            transition: all 200ms ease-in;
        }

        li:nth-of-type(1) a:hover, li:nth-of-type(1) a:focus{
            color: $color-grey-light;
            background-color: $color-green-main;
            padding: .2rem .5rem;
            border-radius: 1rem;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 80%;
            height: .1rem;
            background-color: $color-green-main;
        }
    }
}