/*-----------------------------
    Intro banner section
-----------------------------*/
.page__header {
    background-color: $color-black;
    @include flexColumn;
    padding: 3rem 2rem;

    &--titles {
        color: $color-grey-light;
        text-transform: uppercase;
        font-size: 3rem;
        line-height: 1.2;
        margin: .5rem 0;
    }
    &--intro {
        font-size: 2rem;
        margin: 0 0 1.2rem 0;
    }

    &--intro {
        color: $color-green-light;
    }
}






.help__icons {
    height: 20rem;
    width: 20rem;
    fill: $color-green-main;
}