/*-----------------------------
    Intro banner section
-----------------------------*/
.page__header {
    background-color: $color-black;
    padding: 3rem 2rem 0 2rem;

    &--container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        @media screen and (min-width: 40.75em) {
            @include maxWidth;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: row;
        }
    }

    &--wrapper {
        @include flexColumnStart;
        margin: 2rem 0;
        visibility: hidden;

        @media screen and (min-width: 46.75em) {
            flex: 0 0 50vw;

        }

        .btn {
            margin-top: 1.5rem;
            font-size: 2.5rem;
            @media screen and (min-width: 46.75em) {
                font-size: 2.8rem;
            }
        }
    }

    &--titles {
        color: $color-grey-light;
        text-transform: uppercase;
        font-size: 3.2rem;
        font-weight: 900;
        line-height: 1.2;
        margin: .5rem 0;

        @media screen and (min-width: 46.75em) {
            font-size: 3.6rem;
        }

        @media screen and (min-width: 50em) {
            font-size: 4.2rem;
        }

        @media screen and (min-width: 61em) {
            font-size: 5rem;
        }

    }
    &--intro {
        font-size: 2rem;
        margin: 0 0 1.2rem 0;
        color: $color-green-light;

        @media screen and (min-width: 40em) {
            font-size: 2rem;
        }

        @media screen and (min-width: 61em) {
            font-size: 2.5rem;
        }
        
    }

    &--image {
        margin-top: 2rem;
        visibility: hidden;
        
        img {
            display: block;
        }
    }

}

.page__header.menu--toggle {
    position: relative;
    top: 12vh;
}

/*-----------------------------
    Services section
-----------------------------*/
.help {
    padding: 2rem;

    .main__titles {
        padding: 2rem;

        @media screen and (min-width: 44.9em) {
            padding-bottom: 3rem;
        }
    }

    &__services {
        list-style: none;

        a {
            text-decoration: none;
            display: block;
            height: 100%;
        }

        @media screen and (min-width: 44.9em) {
            @include maxWidth;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 4rem;
            grid-row-gap: 6rem;
        }
    }

    &__box {
        @include flexColumnCenter;
        @include boxShadow;
        padding: 2rem 3rem;
        margin: 4rem 0;
        background-color: $color-white;
        transition: all 200ms ease-in-out;

        @media screen and (min-width: 44.9em) {
            margin: 0;
            height: 100%
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
            padding: 0 2rem;

            @media screen and (min-width: 44.9em) {
                font-size: 1.8rem;
            }
        }

        &:hover, &:focus {
            transform: translateY(-.3rem);
        }

        &:active {
            transform: translateY(-.1rem);
        }

        .btn {
            font-size: 1.2rem;

            @media screen and (min-width: 50em) {
                font-size: 1.5rem;
            }
        }
    }

    &__title {
        color: $color-green-main;
        font-size: 2.2rem;
        margin-bottom: 1.5rem;

        @media screen and (min-width: 56.93em) {
            font-size: 3rem;
        }
    }

    &__icons {
        height: 20rem;
        width: 20rem;
        fill: $color-green-main;
        margin: 1.4rem 0;
    }
}

/*-----------------------------
    Choose Kai section
-----------------------------*/

.choose {
    padding: 5rem 0 0 0;

    &__container {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 44.5em) {
            margin: 5rem auto 0 auto;
            max-width: 1600px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }

    &__img--section {
        @media screen and (min-width: 44.5em) {
            align-self: center;
        }
    }

    &__img--item {
        clip-path: polygon(0% 0%, 100% 0, 100% 73%, 50% 100%, 0 77%);

        @media screen and (min-width: 44.5em) {
            clip-path: polygon(0% 0%, 76% 0, 100% 50%, 81% 100%, 0% 100%);
            margin-bottom: -.4rem;
        }
    }

    &__list--section {
        padding: 0 4rem;
        margin: 2rem 0;
        @include flexColumnCenter;

        .main__titles {
            text-align: center;
            font-size: 4rem;
            margin-bottom: 2rem;
            justify-self: center;
        }

        @media screen and (min-width: 44.5em) {
            justify-content: center;
            align-items: flex-start;

            .main__titles {
                margin: 0 0 2rem -2.5rem;
                font-size: 2rem;

                @media screen and (min-width: 50.75em) {
                    font-size: 3rem;
                }

                @media screen and (min-width: 57.5em) {
                    font-size: 4rem;
                }
            }
        }

        a {
            @media screen and (min-width: 57em) {
                font-size: 2rem;
            }
        }
    }
    &__list {
        margin-bottom: 1.5rem;
        @include flexColumnStart;

        @media screen and (min-width: 61.25em) {
            font-size: 2rem;
        }

        li {
            font-size: 1.8rem;
            margin-bottom: 1.5rem;

            @media screen and (min-width: 44.5em) {
                font-size: 1.5rem;
            }

            @media screen and (min-width: 50.75em) {
                font-size: 1.8rem;
            }

            @media screen and (min-width: 57.5em) {
                margin-bottom: 2.2rem;
                font-size: 2rem;
            }
        }

    }
}


/*-----------------------------
    Testimionial section
-----------------------------*/

.survey {
    background-color: $color-black;
    padding: 2rem 2rem 5rem 2rem;
    
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        @media screen and (min-width: 38.68em) {
            @include maxWidth;
        }

        .btn {
            font-size: 2rem;

            @media screen and (min-width: 38.68em) {
                font-size: 2.7rem;
            }
        }
    }

    &__image {
        position: relative;
        padding: 2rem;
        margin-top: 2rem;

        @media screen and (min-width: 38.68em) {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            justify-items: center;
        }
    }

    &__img {
        padding: 2rem 0;

        @media screen and (min-width: 38.68em) {
            grid-column: 2/4;
        }
    }

    &__before {
        position: absolute;
        top: 0;
        left: 20%;
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: .2rem;

        @media screen and (min-width: 38.68em) {
            position: unset;
            grid-column: 1;
            grid-row: 1;
            align-self: center;
            justify-self: end;
            margin-right: 3rem;
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-size: 3rem;
        }

        @media screen and (min-width: 62.5em) {
            font-size: 4rem;
        }
    }

    &__after {
        position: absolute;
        top: 0;
        right: 20%;
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: .2rem;

        @media screen and (min-width: 38.68em) {
            position: unset;
            grid-column: 4 / 5;
            grid-row: 1;
            align-self: center;
            justify-self: start;
            margin-left: 3rem;
            writing-mode: vertical-rl;
            text-orientation: upright;
            font-size: 3rem;
        }

        @media screen and (min-width: 62.5em) {
            font-size: 4rem;
        }
    }

    &__question {
        font-size: 2rem;
        padding: 1rem 0;
        color: $color-green-light;

        @media screen and (min-width: 54.4em) {
            font-size: 2.5rem;
        }
    }

    &__responses {
        position: relative;

        blockquote {
            margin-bottom: 2rem;
            font-size: 1.5rem;
            position: relative;

            @media screen and (min-width: 54.4em) {
                font-size: 1.7rem;
            }
        }

        blockquote:last-of-type {
            margin-bottom: 4rem;
        }

        @media screen and (min-width: 51.25em) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 4rem;
        }

    }

}

/*-----------------------------
    Kai location section
-----------------------------*/
.location {
    margin: 2.5rem 0;
    padding: 2rem;
    @include flexColumnCenter;

    p {
        font-size: 1.5rem;

        @media screen and (min-width: 43.75em) {
            font-size: 1.8rem;
        }
    }

    a {
        margin: 1.5rem 0;

        @media screen and (min-width: 43.75em) {
            font-size: 2rem;
            margin: 2rem 0;
        }
    }
}


