//-------Intro programs section------//
.training {
    margin-bottom: 5rem;

    &__container {
        margin-top: 2rem;
        position: relative;

        @media screen and (min-width: 37.5em) {
            margin: 4rem auto;
            max-width: 1200px;
            @include flexAroundStart;

            .main__titles {
                margin: 0 0 2rem 0;
                text-align: left;
            }
        }
    }

    &__intro {
        padding: 2rem;
        @include flexColumnCenter;

        p {
            font-size: 1.5rem;
            margin-bottom: 1.5rem;
        }

        .btn {
            margin-bottom: 2rem;
        }

        @media screen and (min-width: 37.5em) {
            padding: 0 2rem;

            p {
                font-size: 2rem;
                max-width: 50ch;
                align-self: flex-start;
            }

            .btn {
                align-self: flex-start;
                margin: 1rem 0;
                font-size: 2rem;
            }
        }
    }

    &__img {
        position: relative;

        @media screen and (min-width: 26.68em) {
            @include flexColumnCenter;
        }

        &--figure {
            display: inline-block;

            img {
                display: block;
            }

            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: $color-green-tint;
            }

            clip-path: polygon(49% 0, 100% 10%, 100% 100%, 0 100%, 0 11%);
    
            @media screen and (min-width: 37.5em) {
                clip-path: polygon(24% 0, 100% 0, 100% 100%, 23% 100%, 0 48%);
            }
        }
    }
}

//-----Workshops Section-------//
.workshops {
    margin: 2rem 0;
    padding: 2rem 0;
    background-color: $color-black;
    position: relative;

    &__intro {
        padding: 0 2rem;
        font-size: 1.5rem;
    }

    &__learn {
        padding: 2rem;
        margin-top: 1.5rem;
    }

    &__titles {
        color: $color-green-light;
        font-size: 2rem;
    }

    &__list {
        padding: 1.7rem 2rem;
        font-size: 1.5rem;

        li {
            padding: .8rem 0;
        }
    }

    &__price {
        @include flexColumnCenter;
        margin-bottom: 4rem;
        position: relative;

        // This is all for the pricing of the workshops
        &--amount {
            color: $color-green-light;
            font-size: 2.2rem;
            font-weight: 900;
            text-align: center;
            line-height: 1.2;
            margin-bottom: 1.2rem;

            @media screen and (min-width: 25em) {
                font-size: 2.5rem;
            }

            @media screen and (min-width: 25em) {
                font-size: 3rem;
            }

            &::before {
                content: '';
                position: absolute;
                top: 10%;
                left: 3%;
                height: .2rem;
                width: 1.5rem;
                background-color: $color-green-light;

                @media screen and (min-width: 25em) {
                    top: 13%;
                    left: 4%;
                    height: .3rem;
                    width: 2rem;
                }

            }

            &::after {
                content: '';
                position: absolute;
                top: 10%;
                right: 3%;
                height: .2rem;
                width: 1.5rem;
                background-color: $color-green-light;

                @media screen and (min-width: 25em) {
                    top: 13%;
                    right: 4%;
                    height: .3rem;
                    width: 2rem;
                }
            }

        }

        p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }

    // Client training examples
    &__examples {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: .1rem;
            width: 80%;
            background-color: $color-green-light;
        }
        
        figure {
            margin-bottom: 3rem;
        }

        @media screen and (min-width: 28.25em) {
            @include flexAround;
        }

        &--one {
            @media screen and (min-width: 28.25em) {
                margin-right: 1.5rem;
            }
        }
    }

    // Group classes section
    &__groups {
        margin-top: 2rem;
        padding: 2rem;
        @include flexColumnStart;
    }

    &__classes {
        p {
            margin: 1rem 0 2rem 0;
            font-size: 1.5rem;
        }
    }

    &__videos {
        margin: 3rem 0;

        &--caption {
            color: $color-grey-dark;
            font-size: 1.3rem;
            font-style: italic;
        }
    }
}

//-----Specialties Section-------//
.specialties {
    margin-top: 4rem;

    &__img {

        &--caption {
            color: $color-green-main;
            padding: .5rem 2rem 2rem 2rem;
            font-size: 1.3rem;
            font-style: italic;
        }
    }

    &__description {
        padding: 1rem 2rem;

        ul {
            list-style: none;
        }
    }

    &__titles {
        color: $color-green-main;
        font-size: 1.9rem;
        margin: .5rem 0;
    }

    p {
        font-size: 1.5rem;
        margin-bottom: 2rem;;
    }
}

//-----Social Section-------//
.personal__social {
    @include flexColumnCenter;
    margin-bottom: 4rem;

    .svg-content {
        background-color: $color-green-main;
        fill: $color-grey-light;
        height: 8rem;
        width: 8rem;
        padding: 1.5rem;
        border-radius: 1rem;
        transition: all 200ms ease-in;

        &:hover, &:focus {
            background-color: $color-black;
            transform: translateY(-.3rem);
        }
    }

}


