.reviews {

    &__intro {
        margin: 5rem 0;
        p {
            font-size: 1.5rem;
            padding: 0 2rem;

            @media screen and (min-width: 35.62em) {
                max-width: 65ch;
                margin: 0 auto;
                font-size: 1.8rem;
            }
        }
    }

    // Before and after images section
    &__testimonial {
        margin: 2rem 0;
        padding-bottom: 2rem;
        position: relative;

        @media screen and (min-width: 37.75em) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
            justify-content: center;
            align-items: center;
            max-width: 1200px;
            margin: 6rem auto;
            
        }

        &--img {
            figure {
                display: inline-block;
            }
        }

        &--text {
            position: relative;

            @media screen and (min-width: 56em) {
                align-self: start;
            }

            &::before {
                content: open-quote;
                position: absolute;
                top: -20%;
                left: 0;
                font-size: 6rem;
                color: $color-green-light;

                @media screen and (min-width: 23.12em) {
                    top: -28%;
                }

                @media screen and (min-width: 31.25em) {
                    top: -35%;
                }

                @media screen and (min-width: 37.5em) {
                    top: 0;
                }

           }

           &::after {
                content: close-quote;
                position: absolute;
                bottom: -5%;
                right: 5%;
                font-size: 6rem;
                color: $color-green-light;

                @media screen and (min-width: 31.25em) {
                    bottom: -10%;
                }

                @media screen and (min-width: 70em) {
                    right: 7%;
                }
           }

            p {
                font-size: 1.5rem;
                padding: 0 2rem;
                margin-top: 5rem;

                @media screen and (min-width: 33.12em) {
                    max-width: 70ch;
                }

                @media screen and (min-width: 50em) {
                    font-size: 1.8rem;
                }

                @media screen and (min-width: 56em) {
                    max-width: 60ch;
                }
            }
        }
    }

    &__name {
        display: block;
        font-size: 1.8rem;
        color: $color-green-main;
        padding: 2rem;
        font-weight: 900;

        @media screen and (min-width: 50em) {
            font-size: 2.2rem;
        }
    }

    // Switching the order of the second testimonial for when the screen gets larger
    @media screen and (min-width: 31.25em) {
        .reviews__testimonial:nth-of-type(3) {
            .reviews__testimonial--img {
                grid-column: 2;
                grid-row: 1;
            }
        }
    }
}


// Other reviews section
.testimonials {
    background-color: $color-black;
    padding: 2rem 2rem 4rem 2rem;
    margin-bottom: 4rem;

    &__items {
        list-style: none;
        display: flex;
        flex-direction: column;

        @media screen and (min-width: 40.31em) {
            @include maxWidth;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 5rem;
        }

        // @media screen and (min-width: 75em) {
        //     grid-template-columns: repeat(4, 1fr);
        //     grid-gap: 4rem;
        // }
    }

    &__item {
        margin: 2rem 0;
        @include flexColumnStart;

        .review-icon {
            fill: $color-green-light;
            height: 8rem;
            width: 8rem;
            margin-bottom: 5rem;
        }

        &--text {
            background-color: $color-white;
            padding: 3rem;
            border-radius: 1rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                top: -4%;
                left: 4%;
                border-left: 4rem solid transparent;
                border-right: 4rem solid transparent;
                border-bottom: 4rem solid $color-white;
                transform: rotate(-15deg);

                @media screen and (min-width: 27.5em) {
                    top: -6%;
                }

                @media screen and (min-width: 75em) {
                    top: -4%;
                }
            } 
        }

        &--name {
            font-size: 1.8rem;
            color: $color-green-main;
            margin-bottom: 1rem;
            z-index: 2;
        }

        p {
            font-size: 1.5rem;
            margin-bottom: 2rem;
        }
    }

    // Adjusting each arrow to ensure they are similar to each other
    &__items {

        li:nth-of-type(2) {
            .testimonials__item--text::before {
                top: -5%;

                @media screen and (min-width: 27.5em) {
                    top: -7%;
                }

                @media screen and (min-width: 75em) {
                    top: -5%;
                }
            }
        }

        li:nth-of-type(3) {
            .testimonials__item--text::before {
                top: -7%;

                @media screen and (min-width: 27.5em) {
                    top: -10%;
                }

                @media screen and (min-width: 75em) {
                    top: -8%;
                }
            }
        }

        li:nth-of-type(4) {
            .testimonials__item--text::before {
                top: -14%;

                @media screen and (min-width: 27.5em) {
                    top: -16%;
                }
            }
        }
    }
}